---
name: First workflow for the DevOps students fall2023

on:
  workflow_dispatch

jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: cat firstfile.txt
...
